@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* --------------------------Colors */
.bg-color-name-title {
    background-color: #416941;}

.ui-menu-color-home {
    background-color: #ff0;
}

.ui-menu-color-resume {
    background-color: #4169e1;
}

.ui-menu-color-contact {
    background-color: #ff0;
}

.ui-menu-color-download {
    background-color: #4169e1
    ;
}
.bg-color-about-me {
    background-color: rgba(255, 45, 24, 0.2);
}

  
/* --------------------------header */

        header {
            margin: 0;
        }
    
        .heading {
            margin-left: 50px;
    
        }
    

    .logo {
        background: url("../images/english-2724442_1280.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 360px;
        transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
    }

    .name {
        font-family: "Exo", sans-serif;
        font-weight: 400;
        font-size: 52px;
        margin-top: 50px;
        color: white;
    }

    .title {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 32px;
        margin-top: 20px;
        margin-bottom: 90px;
        color: white;
    }

    .list-inline-item:not(:last-child) {
        margin: 0;
    }

    .menucontainer {
        font-size: 0;

    }

    #nav {
        margin: 0;
    }

    #nav li {
        font-size: 14px;
        padding: 0;
    }

    .menuitemhome {
        height: 120px;
        text-align: center;
        padding: 0;
    }

    .menuitemhome a {
        width: 100%;
        text-decoration: none;
        color: #4169e1;
        height: 120px;
    }

    .menuitemhome a i {
        padding-top: 22px;
        display: block;
        color: #4169e1;
        font-size: 26px;
    }

    .menuitemhome span {
        display: block;
        width: 100%;
        padding-top: 5px;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 2px;
    }

          .menuitemplan {
            height: 120px;
            text-align: center;
            padding: 0;
        }
    
        .menuitemplan a {
            width: 100%;
            text-decoration: none;
            color: #ff0;
            height: 120px;
        }
    
        .menuitemplan a i {
            padding-top: 22px;
            display: block;
            color: #ff0;
            font-size: 26px;
        }
    
        .menuitemplan span {
            display: block;
            width: 100%;
            padding-top: 5px;
            text-align: center;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 2px;
        }

                .menuitemcontact {
                    height: 120px;
                    text-align: center;
                    padding: 0;
                }
        
                .menuitemcontact a {
                    width: 100%;
                    text-decoration: none;
                    color: #4169e1;
                    height: 120px;
                }
        
                .menuitemcontact a i {
                    padding-top: 22px;
                    display: block;
                    color: #4169e1;
                    font-size: 26px;
                }
        
                .menuitemcontact span {
                    display: block;
                    width: 100%;
                    padding-top: 5px;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 2px;
                } 
                
                .menuitemlinks {
                     height: 120px;
                     text-align: center;
                     padding: 0;
                 }
                
                 .menuitemlinks a {
                     width: 100%;
                     text-decoration: none;
                     color: #ff0;
                     height: 120px;
                 }
                
                 .menuitemlinks a i {
                     padding-top: 22px;
                     display: block;
                     color: #ff0;
                     font-size: 26px;
                 }
                
                 .menuitemlinks span {
                     display: block;
                     width: 100%;
                     padding-top: 5px;
                     text-align: center;
                     text-transform: uppercase;
                     font-size: 14px;
                     font-weight: 500;
                     letter-spacing: 2px;
                 }
  
/* --------------------------- dropdown menu */

.dropdown {
    float: center;
    position: relative;
}

.dropdown .dropbtn {
    text-align: center;
    font-family: "EXO";
    font-size: 15px;
    font-weight: 430;
    color: #ff0;
    
    top: 100%;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 43, 24, 0.795);
    min-width: 250px;
    z-index: 1;
    top: 100%;
}

.dropdown-content a {
    float: none;
    color: #ff0;
    padding: 2px 2px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
}

.dropdown-content a:hover {
    color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}



/* -------------------------text */
.intro-text {
    font-size: 21px;
    font-family: "EXO";
    font-weight: 400;
    margin: 0;
    padding-top: 20px;
    letter-spacing: 1px;
}

p {
    font-size: 16px;
font-family: "EXO";
font-weight: 400;
margin: 0;
padding-top: 5px;
padding-bottom: 5px;


}
/* --------------------------footer */
footer {
    background-color: #416941;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}


.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 20px;
}

/* --------------------------Contact Form */
.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type=submit] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #ff0;
    background-color: #4169e1;
}

.myclass+label {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #ff0;
    background-color: #4169e1;
    border-radius: 2px;
    display: inline-block;
}

.myclass:focus+label,
.myclass+label:hover {
    background-color: grey;
}

.myclass {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

    /* --------------------------Media Queries */
        @media(min-width: 992px) {
            .center-form {
                padding-top: 30px;
                min-height: 240px;
                margin: 0 auto;
                max-width: 50%;
            }